# Python Review: 2D Nested Structure: Slicing (Part 2)

In [10]:
# 2d lists do not really exist in Python.
# They are just lists (rows = len(a)) that happen to contain other lists (cols = len(a[0]) as elements.
# rows = len(a)
# cols = len(a[0])

In [9]:
# Create a variable-sized 2d list
rows = 3
cols = 2

a = []
for row in range(rows):
    a += [[0]*cols]

print("This IS ok.  At first:")
print("   a =", a)

a[0][0] = 42
print("And now see what happens after a[0][0]=42")
print("   a =", a)

This IS ok.  At first:
   a = [[0, 0], [0, 0], [0, 0]]
And now see what happens after a[0][0]=42
   a = [[42, 0], [0, 0], [0, 0]]

In [4]:
# Create an "arbitrary" 2d List
a = [ [ 2, 3, 5] , [ 1, 4, 7 ] ]
print("a = ", a)

# Now find its dimensions
rows = len(a)
cols = len(a[0])
print("rows =", rows)
print("cols =", cols)

a =  [[2, 3, 5], [1, 4, 7]]
rows = 2
cols = 3

In [6]:
# still a copy, but cleaner with a list comprehension!
a = [ [ 1, 2, 3 ] , 
      [ 4, 5, 6 ] ]
col = 1
colList = [ a[i][col] for i in range(len(a)) ]
print(colList)

[2, 5]

In [7]:
# 2d lists do not have to be rectangular: https://www.cs.cmu.edu/~112/notes/notes-2d-lists.html
a = [ [ 1, 2, 3 ] ,
      [ 4, 5 ],
      [ 6 ],
      [ 7, 8, 9, 10 ] ]

rows = len(a)
for row in range(rows):
    cols = len(a[row]) # now cols depends on each row
    print("Row", row, "has", cols, "columns: ", end="")
    for col in range(cols):
        print(a[row][col], " ", end="")
    print()

Row 0 has 3 columns: 1  2  3
Row 1 has 2 columns: 4  5
Row 2 has 1 columns: 6
Row 3 has 4 columns: 7  8  9  10

In [2]:
grades = [
    ['Student', 'Exam 1', 'Exam 2', 'Exam 3'],
    ['Thorny', '100', '90', '80'],
    ['Mac', '88', '99', '111'],
    ['Farva', '45', '56', '67'],
    ['Rabbit', '59', '61', '67'],
    ['Ursula', '73', '79', '83'],
    ['Foster', '89', '97', '101']
]

In [3]:
rows = len(grades)
cols = len(grades[0])
print("rows =", rows)
print("cols =", cols)

rows = 7
cols = 4

In [7]:
#student names
student_names = [L[0] for L in grades[1:]]
student_names

['Thorny', 'Mac', 'Farva', 'Rabbit', 'Ursula', 'Foster']

In [53]:
assignments = grades[0][1:]
assignments

['Exam 1', 'Exam 2', 'Exam 3']

In [64]:
grade_lists = {}

for L in grades[1:]:
    grade_lists[L[0]] = [int(g) for g in L[1:]]
    
grade_lists

# helper:
# for L in grades[1:]:
#     print(L[0], L[1:])

{'Thorny': [100, 90, 80],
 'Mac': [88, 99, 111],
 'Farva': [45, 56, 67],
 'Rabbit': [59, 61, 67],
 'Ursula': [73, 79, 83],
 'Foster': [89, 97, 101]}

In [102]:
grade_dicts = {}

for L in grades[1:]:
#     print(L[0], list(zip(L[1:], assignments)))
    grade_dicts[L[0]] =  dict(zip(assignments, [int(g) for g in L[1:]]))
# grade_dicts['Thorny']['Exam 1']
grade_dicts

{'Thorny': {'Exam 1': 100, 'Exam 2': 90, 'Exam 3': 80},
 'Mac': {'Exam 1': 88, 'Exam 2': 99, 'Exam 3': 111},
 'Farva': {'Exam 1': 45, 'Exam 2': 56, 'Exam 3': 67},
 'Rabbit': {'Exam 1': 59, 'Exam 2': 61, 'Exam 3': 67},
 'Ursula': {'Exam 1': 73, 'Exam 2': 79, 'Exam 3': 83},
 'Foster': {'Exam 1': 89, 'Exam 2': 97, 'Exam 3': 101}}

In [99]:
# zip(assignments, L[1:]) ::
{'Thorny': {'Exam 1': '100', 'Exam 2': '90', 'Exam 3': '80'},
 'Mac': {'Exam 1': '88', 'Exam 2': '99', 'Exam 3': '111'},
 'Farva': {'Exam 1': '45', 'Exam 2': '56', 'Exam 3': '67'},
 'Rabbit': {'Exam 1': '59', 'Exam 2': '61', 'Exam 3': '67'},
 'Ursula': {'Exam 1': '73', 'Exam 2': '79', 'Exam 3': '83'},
 'Foster': {'Exam 1': '89', 'Exam 2': '97', 'Exam 3': '101'}}

{'Thorny': {'Exam 1': '100', 'Exam 2': '90', 'Exam 3': '80'},
 'Mac': {'Exam 1': '88', 'Exam 2': '99', 'Exam 3': '111'},
 'Farva': {'Exam 1': '45', 'Exam 2': '56', 'Exam 3': '67'},
 'Rabbit': {'Exam 1': '59', 'Exam 2': '61', 'Exam 3': '67'},
 'Ursula': {'Exam 1': '73', 'Exam 2': '79', 'Exam 3': '83'},
 'Foster': {'Exam 1': '89', 'Exam 2': '97', 'Exam 3': '101'}}

In [103]:
from statistics import mean

In [115]:
avg_grade_by_student = {}
for k,v in grade_lists.items():
    avg_grade_by_student[k] = mean(v)
avg_grade_by_student

{'Thorny': 90,
 'Mac': 99.33333333333333,
 'Farva': 56,
 'Rabbit': 62.333333333333336,
 'Ursula': 78.33333333333333,
 'Foster': 95.66666666666667}

In [125]:
grades_by_assignment = {}

for i,v in enumerate(assignments):
    grades_by_assignment[v] = [int(L[i+1]) for L in grades[1:]]

grades_by_assignment

{'Exam 1': [100, 88, 45, 59, 73, 89],
 'Exam 2': [90, 99, 56, 61, 79, 97],
 'Exam 3': [80, 111, 67, 67, 83, 101]}

In [127]:
avg_grades_by_assignment = {}

for k,v in grades_by_assignment.items():
    avg_grades_by_assignment[k] = mean(v)

In [128]:
avg_grades_by_assignment

{'Exam 1': 75.66666666666667,
 'Exam 2': 80.33333333333333,
 'Exam 3': 84.83333333333333}

In [134]:
L = [['a', ['cat'],2], [[[3]], 'dog'], 4, 5]

def flatten(L):
    flat = []
    for c in L:
        if type(c) is not list:
            flat += [c]
        else:
            flat += flatten(c)
    return flat

flatten(L)

['a', 'cat', 2, 3, 'dog', 4, 5]