In [23]:
import pandas as pd
from io import StringIO

# Test input
canonical_in_csv = """,c,a,b
2,hat,x,1
0,rat,y,4
3,cat,x,2
1,bat,x,2"""

with StringIO(canonical_in_csv) as fp:
    canonical_in = pd.read_csv(fp, index_col=0)
print("=== Input ===")
display(canonical_in)
print("")
    
# Test output solution
canonical_soln_csv = """,a,b,c
0,x,1,hat
1,x,2,bat
2,x,2,cat
3,y,4,rat"""

with StringIO(canonical_soln_csv) as fp:
    canonical_soln = pd.read_csv(fp, index_col=0)
print("=== True solution ===")
display(canonical_soln)
print("")

=== Input ===

     c  a  b
2  hat  x  1
0  rat  y  4
3  cat  x  2
1  bat  x  2

=== True solution ===

   a  b    c
0  x  1  hat
1  x  2  bat
2  x  2  cat
3  y  4  rat

In [24]:
X = canonical_in

### 1. sort variables, ascending left to right

In [25]:
var_names = sorted(X.columns)
var_names

['a', 'b', 'c']

In [26]:
Y = X[var_names].copy()
Y

   a  b    c
2  x  1  hat
0  y  4  rat
3  x  2  cat
1  x  2  bat

### 2. rows in lexicographically sorted order by variable, ascending top to bottom

In [28]:
Y.sort_values(by = var_names, ascending=True, inplace=True) #default ascending is True
Y

   a  b    c
2  x  1  hat
1  x  2  bat
3  x  2  cat
0  y  4  rat

### 3. row labels (Y.index) go from 0 to n-1, where n is number of observations

In [29]:
Y.reset_index(inplace=True, drop=True)
Y

   a  b    c
0  x  1  hat
1  x  2  bat
2  x  2  cat
3  y  4  rat